* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#00000066,
    #00000066),
    url("fondo4.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    background-color: #FFF8F0 ;
    width: 100%;
}
.nav > li {
    position:relative;
}   
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.navbar li a {
    display: block;
    color: #3C2F2F;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #E6D3B3;
    color: #3C2F2F;
    border-bottom: 2px solid #6F4E37;
}

.nav li  ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:#FFF8F0;
    min-width:140px;
    padding:0;
}
.nav li ul li{
    width: 100%;
}

.nav li:hover > ul{
    display: block;   
}
.hamburger {
  display: none; 
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}


@media (max-width: 768px) {
  .hamburger {
    display: flex; 
  }
  
  .nav {
position: fixed;
top: 70px;
left: -100%;
flex-direction: column;
background-color: #FFF8F0;
width: 100%;
text-align: center;
transition: 0.3s;
padding: 2rem 0;
z-index: 999;
  }
  .nav.active{
        left: 0;
    }
    .nav li a{
    color: #3C2F2F;
}
    .nav li ul{
        display: block;
        position: static;
        background-color: #E6D3B3;
        width: 100%;
    }

    .nav li ul li a{
        padding-left: 40px;
        font-size: 16px;
    }

}
footer{
    background-color:#FFF8F0;
    color:#3C2F2F;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
}

.hero{
    text-align: center;
    color: white;
    padding: 150px 20px;
}

.hero h1{
    font-size: 60px;
}

.hero p{
    font-size: 25px;
}

.nosotros{
    background-color: rgba(255, 248, 240, 0.92);
    width: 80%;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.nosotros h1{
    color: #6F4E37;
    margin-bottom: 20px;
    font-size: 40px;
}

.nosotros p{
    color: #3C2F2F;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.redes{
    margin-top: 10px;
}

.redes a{
    color: #3C2F2F;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

.redes a:hover{
    color: #E6D3B3;
}
.titulo-menu{
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 120px;
}
.productos{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.card{
    width: 320px;
    margin-bottom: 120px;
}
.card img{
    width: 100%;
    height:220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: static;
}

.info{
    background-color: #FFF8F0;
    border-radius: 0 0 20px 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}
.info h2{
    color: #3C2F2F;
    margin-bottom: 10px;
    font-size: 28px;
}

.info p{
    color: #5C4B4B;
    margin-bottom: 15px;
    line-height: 1.5;
}
.precio{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #6F4E37;
    margin-bottom: 20px;
}
.info button{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 14px;
    background-color: #E6D3B3;
    color: #3C2F2F;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.info button:hover{
    background-color: #d6b98d;
    transform: scale(1.03);
}
#carrito-contenedor{
    width: 80%;
    margin: auto;
}
.producto-carrito{
    background-color: #FFF8F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.producto-carrito img{
    width: 120px;
}
.producto-carrito h2{
    color: #3C2F2F;
}
.producto-carrito p{
    font-size: 22px;
    color: #6F4E37;
}
.producto-carrito button{
    background-color: #c46b6b;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
}
#total{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 40px;
}
.vaciar-btn{
    background-color: #6F4E37;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
}

.ubicaciones{
    padding: 60px;
    background-color: #FFF8F0;
    text-align: center;
}

.ubicaciones h2{
    font-size: 40px;
    margin-bottom: 40px;
    color: #3C2F2F;
}

.contenedor-ubicaciones{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.sucursal{
    background-color: white;
    padding: 25px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.sucursal:hover{
    transform: translateY(-10px);
}

.sucursal h3{
    color: #6F4E37;
    margin-bottom: 15px;
}

.sucursal p{
    color: #555;
    margin: 8px 0;
}

.horario{
    background-color: rgba(255, 248, 240, 0.92);
    width: 80%;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.horario h1{
    color: #6F4E37;
    margin-bottom: 20px;
    font-size: 40px;
}

.horario p{
    color: #3C2F2F;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.tabla-horarios{
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.dia{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #555;
}

.dia:last-child{
    border-bottom: none;
}

.dia span:first-child{
    font-weight: bold;
    color: #6F4E37;
}

.trabajo{
    background-color: rgba(255, 248, 240, 0.92);
    width: 80%;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.trabajo h2{
    color: #6F4E37;
    margin-bottom: 20px;
    font-size: 40px;
}

.trabajo p{
    color: #3C2F2F;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.trabajo form{
    width: 60%;
    margin: 50px auto 0 auto;
    background: rgba(255,255,255,0.85);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(5px);
}

.trabajo ul{
    list-style: none;
    padding: 0;
}

.trabajo li{
    margin: 20px 0;
    text-align: left;
}

.trabajo label{
    display: block;
    margin-bottom: 10px;
    color: #6F4E37;
    font-weight: bold;
    font-size: 18px;
}

.trabajo input,
.trabajo textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #d6c5b8;
    border-radius: 15px;
    font-size: 16px;
    background-color: #f8f5f2;
}

.trabajo textarea{
    height: 120px;
    resize: none;
}

.trabajo input[type="submit"]{
    background-color: #6F4E37;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
}

.trabajo input[type="submit"]:hover{
    background-color: #4B3225;
    transform: scale(1.03);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; 
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px){

    .navbar{
        padding: 10px 0;
        background-color: #FFF8F0
    }

    .navbar li a{

        font-size: 18px;
        padding: 18px 20px;
        color: #6F4E37;
    }

    .hamburger{
        padding: 15px 20px;
    }

    .bar{
        width: 30px;
        height: 4px;
        color: #6F4E37;
        background-color:#6F4E37;
    }
}
